<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SisEstoqueFarmacia</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlets</servlet-name>
    <servlet-class>Servlets.LoginServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlets</servlet-name>
    <url-pattern>/LoginServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TelaCadastroProdutoServlet</servlet-name>
    <servlet-class>Servlets.TelaCadastroProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TelaCadastroProdutoServlet</servlet-name>
    <url-pattern>/TelaCadastroProdutoServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listarProdutoServlet</servlet-name>
    <servlet-class>Servlets.ListarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listarProdutoServlet</servlet-name>
    <url-pattern>/ListarProdutoServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarCategoriaServlet</display-name>
    <servlet-name>ListarCategoriaServlet</servlet-name>
    <servlet-class>Servlets.ListarCategoriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarCategoriaServlet</servlet-name>
    <url-pattern>/listarCategorias.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TelaCadastroCategoriaServlet</display-name>
    <servlet-name>TelaCadastroCategoriaServlet</servlet-name>
    <servlet-class>Servlets.TelaCadastroCategoriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TelaCadastroCategoriaServlet</servlet-name>
    <url-pattern>/telaCadastroCategoria.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarUnidadeServlet</display-name>
    <servlet-name>ListarUnidadeServlet</servlet-name>
    <servlet-class>Servlets.ListarUnidadeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarUnidadeServlet</servlet-name>
    <url-pattern>/ListarUnidadeServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TelaCadastroUnidadeServlet</display-name>
    <servlet-name>TelaCadastroUnidadeServlet</servlet-name>
    <servlet-class>Servlets.TelaCadastroUnidadeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TelaCadastroUnidadeServlet</servlet-name>
    <url-pattern>/TelaCadastroUnidadeServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>removerCategoriaServlet</servlet-name>
    <servlet-class>Servlets.removerCategoriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removerCategoriaServlet</servlet-name>
    <url-pattern>/removerCategoriaServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removerProdutoServlet</display-name>
    <servlet-name>removerProdutoServlet</servlet-name>
    <servlet-class>Servlets.removerProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removerProdutoServlet</servlet-name>
    <url-pattern>/removerProdutoServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>removerUnidadeServlet</servlet-name>
    <servlet-class>Servlets.removerUnidadeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removerUnidadeServlet</servlet-name>
    <url-pattern>/removerUnidadeServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TelaCadastroFornecedor</display-name>
    <servlet-name>TelaCadastroFornecedor</servlet-name>
    <servlet-class>Servlets.TelaCadastroFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TelaCadastroFornecedor</servlet-name>
    <url-pattern>/TelaCadastroFornecedor.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarFornecedorServlet</display-name>
    <servlet-name>ListarFornecedorServlet</servlet-name>
    <servlet-class>Servlets.ListarFornecedorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarFornecedorServlet</servlet-name>
    <url-pattern>/ListarFornecedorServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TelaCadastroCompraServlet</display-name>
    <servlet-name>TelaCadastroCompraServlet</servlet-name>
    <servlet-class>Servlets.TelaCadastroCompraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TelaCadastroCompraServlet</servlet-name>
    <url-pattern>/TelaCadastroCompraServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarFornecedorServlet</display-name>
    <servlet-name>EditarFornecedorServlet</servlet-name>
    <servlet-class>Servlets.EditarFornecedorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarFornecedorServlet</servlet-name>
    <url-pattern>/EditarFornecedorServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarCategoriaServlet</display-name>
    <servlet-name>EditarCategoriaServlet</servlet-name>
    <servlet-class>Servlets.EditarCategoriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarCategoriaServlet</servlet-name>
    <url-pattern>/EditarCategoriaServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarUnidadeServlet</display-name>
    <servlet-name>EditarUnidadeServlet</servlet-name>
    <servlet-class>Servlets.EditarUnidadeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarUnidadeServlet</servlet-name>
    <url-pattern>/EditarUnidadeServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TelaCadastroCliente</display-name>
    <servlet-name>TelaCadastroCliente</servlet-name>
    <servlet-class>Servlets.TelaCadastroCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TelaCadastroCliente</servlet-name>
    <url-pattern>/TelaCadastroCliente.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarClientes</display-name>
    <servlet-name>ListarClientes</servlet-name>
    <servlet-class>Servlets.ListarClientes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarClientes</servlet-name>
    <url-pattern>/ListarClientes.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarClientes</display-name>
    <servlet-name>EditarClientes</servlet-name>
    <servlet-class>Servlets.EditarClientes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarClientes</servlet-name>
    <url-pattern>/EditarClientes.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removerFornecedorServlet</display-name>
    <servlet-name>removerFornecedorServlet</servlet-name>
    <servlet-class>Servlets.removerFornecedorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removerFornecedorServlet</servlet-name>
    <url-pattern>/removerFornecedorServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removerClientes</display-name>
    <servlet-name>removerClientes</servlet-name>
    <servlet-class>Servlets.removerClientes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removerClientes</servlet-name>
    <url-pattern>/removerClientes.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TelaCadastroVendaServlet</display-name>
    <servlet-name>TelaCadastroVendaServlet</servlet-name>
    <servlet-class>Servlets.TelaCadastroVendaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TelaCadastroVendaServlet</servlet-name>
    <url-pattern>/TelaCadastroVendaServlet.du</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AutenticadorFilter</filter-name>
    <filter-class>filters.AutenticadorFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutenticadorFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <url-pattern>*.du</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>Servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>TelaCadastroUsuario</servlet-name>
    <servlet-class>Servlets.TelaCadastroUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TelaCadastroUsuario</servlet-name>
    <url-pattern>/TelaCadastroUsuario.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TelaCadastroFarmaceuticoServlet</display-name>
    <servlet-name>TelaCadastroFarmaceuticoServlet</servlet-name>
    <servlet-class>Servlets.TelaCadastroFarmaceuticoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TelaCadastroFarmaceuticoServlet</servlet-name>
    <url-pattern>/TelaCadastroFarmaceutico.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TelaCadastroGerenteServlet</display-name>
    <servlet-name>TelaCadastroGerenteServlet</servlet-name>
    <servlet-class>Servlets.TelaCadastroGerenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TelaCadastroGerenteServlet</servlet-name>
    <url-pattern>/TelaCadastroGerente.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TelaCadastroVendedor</display-name>
    <servlet-name>TelaCadastroVendedor</servlet-name>
    <servlet-class>Servlets.TelaCadastroVendedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TelaCadastroVendedor</servlet-name>
    <url-pattern>/TelaCadastroVendedor.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarUsuarios</display-name>
    <servlet-name>ListarUsuarios</servlet-name>
    <servlet-class>Servlets.ListarUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarUsuarios</servlet-name>
    <url-pattern>/ListarUsuarios.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutoCompleteClienteServlet</display-name>
    <servlet-name>AutoCompleteClienteServlet</servlet-name>
    <servlet-class>Servlets.AutoCompleteClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoCompleteClienteServlet</servlet-name>
    <url-pattern>/AutoCompleteClienteServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutoCompleteProdutoServlet</display-name>
    <servlet-name>AutoCompleteProdutoServlet</servlet-name>
    <servlet-class>Servlets.AutoCompleteProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoCompleteProdutoServlet</servlet-name>
    <url-pattern>/AutoCompleteProdutoServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutoCompleteCategoriaServlet</display-name>
    <servlet-name>AutoCompleteCategoriaServlet</servlet-name>
    <servlet-class>Servlets.AutoCompleteCategoriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoCompleteCategoriaServlet</servlet-name>
    <url-pattern>/AutoCompleteCategoriaServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutoCompleteUnidadeServlet</display-name>
    <servlet-name>AutoCompleteUnidadeServlet</servlet-name>
    <servlet-class>Servlets.AutoCompleteUnidadeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoCompleteUnidadeServlet</servlet-name>
    <url-pattern>/AutoCompleteUnidadeServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutoCompleteFornecedorServlet</display-name>
    <servlet-name>AutoCompleteFornecedorServlet</servlet-name>
    <servlet-class>Servlets.AutoCompleteFornecedorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoCompleteFornecedorServlet</servlet-name>
    <url-pattern>/AutoCompleteFornecedorServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutoCompleteUsuarioServlet</display-name>
    <servlet-name>AutoCompleteUsuarioServlet</servlet-name>
    <servlet-class>Servlets.AutoCompleteUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoCompleteUsuarioServlet</servlet-name>
    <url-pattern>/AutoCompleteUsuarioServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TelaCadastroVendaSessao</display-name>
    <servlet-name>TelaCadastroVendaSessao</servlet-name>
    <servlet-class>Servlets.TelaCadastroVendaSessao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TelaCadastroVendaSessao</servlet-name>
    <url-pattern>/TelaCadastroVendaSessao.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removerUsuarioServlet</display-name>
    <servlet-name>removerUsuarioServlet</servlet-name>
    <servlet-class>Servlets.removerUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removerUsuarioServlet</servlet-name>
    <url-pattern>/removerUsuarioServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarUsuarioServlet</display-name>
    <servlet-name>EditarUsuarioServlet</servlet-name>
    <servlet-class>Servlets.EditarUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarUsuarioServlet</servlet-name>
    <url-pattern>/EditarUsuarioServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarUsuarioGenerico</display-name>
    <servlet-name>EditarUsuarioGenerico</servlet-name>
    <servlet-class>Servlets.EditarUsuarioGenerico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarUsuarioGenerico</servlet-name>
    <url-pattern>/EditarUsuarioGenerico.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditarProdutoServlet</servlet-name>
    <servlet-class>Servlets.EditarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarProdutoServlet</servlet-name>
    <url-pattern>/EditarProdutoServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SalvarVendaServlet</servlet-name>
    <servlet-class>Servlets.SalvarVendaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalvarVendaServlet</servlet-name>
    <url-pattern>/SalvarVendaServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarVendasServet</display-name>
    <servlet-name>ListarVendasServet</servlet-name>
    <servlet-class>Servlets.ListarVendasServet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarVendasServet</servlet-name>
    <url-pattern>/ListarVendasServet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removerProdutoVendaServlet</display-name>
    <servlet-name>removerProdutoVendaServlet</servlet-name>
    <servlet-class>Servlets.removerProdutoVendaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removerProdutoVendaServlet</servlet-name>
    <url-pattern>/removerProdutoVendaServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmitirRelatorioSngpcServlet</display-name>
    <servlet-name>EmitirRelatorioSngpcServlet</servlet-name>
    <servlet-class>Servlets.EmitirRelatorioSngpcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmitirRelatorioSngpcServlet</servlet-name>
    <url-pattern>/EmitirRelatorioSngpcServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GerarXMLSngpcServlet</display-name>
    <servlet-name>GerarXMLSngpcServlet</servlet-name>
    <servlet-class>Servlets.GerarXMLSngpcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GerarXMLSngpcServlet</servlet-name>
    <url-pattern>/GerarXMLSngpcServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelatorioCompraClienteServlet</display-name>
    <servlet-name>RelatorioCompraClienteServlet</servlet-name>
    <servlet-class>Servlets.RelatorioCompraClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelatorioCompraClienteServlet</servlet-name>
    <url-pattern>/RelatorioCompraClienteServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelatorioVendaClientePesquisaServlet</display-name>
    <servlet-name>RelatorioVendaClientePesquisaServlet</servlet-name>
    <servlet-class>Servlets.RelatorioVendaClientePesquisaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelatorioVendaClientePesquisaServlet</servlet-name>
    <url-pattern>/RelatorioVendaClientePesquisaServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TelaCadastroCompraSessao</display-name>
    <servlet-name>TelaCadastroCompraSessao</servlet-name>
    <servlet-class>Servlets.TelaCadastroCompraSessao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TelaCadastroCompraSessao</servlet-name>
    <url-pattern>/TelaCadastroCompraSessao.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalvarCompraServlet</display-name>
    <servlet-name>SalvarCompraServlet</servlet-name>
    <servlet-class>Servlets.SalvarCompraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalvarCompraServlet</servlet-name>
    <url-pattern>/SalvarCompraServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarComprasServlet</display-name>
    <servlet-name>ListarComprasServlet</servlet-name>
    <servlet-class>Servlets.ListarComprasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarComprasServlet</servlet-name>
    <url-pattern>/ListarComprasServlet.du</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removerProdutoCompraServlet</display-name>
    <servlet-name>removerProdutoCompraServlet</servlet-name>
    <servlet-class>Servlets.removerProdutoCompraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removerProdutoCompraServlet</servlet-name>
    <url-pattern>/removerProdutoCompraServlet.du</url-pattern>
  </servlet-mapping>
</web-app>